body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 75px 0;
}

h1 {
    font-size: 24px;
    letter-spacing: 1px;
    color: #bfbfbf;
    font-weight: bold;
    font-family: "Arial";
    text-transform: uppercase;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.nav {
    background-color: #2a3644;
    width: 100%;
    height: 45px;
    margin-bottom: 45px;
}

/* 2. Таблиця */

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 3px;
    overflow: hidden;
}

.table th {
    font-size: 16px;
    color: #ffffff;
    padding: 13px 0;
    font-weight: bold;
    background-color: #2a3644;
    border-left: 1px solid #3f4852;
    border-top: 1px solid #3f4852;
}

.table th:nth-child(n + 2) th {
    border-left: none;
    border-top: none;
}

tbody td:nth-child(n + 3) {
    text-align: right;
}

tbody td:first-child {
    text-align: center;
}

.table tr:first-child th:first-child {
    width: 6.25%;
}

.table tr:first-child th:nth-child(2) {
    width: 52.6%;
    text-align: left;
    padding-left: 30px;
}

.table td {
    font-size: 16px;
    color: #2a3644;
    background-color: #f2f2f2;
    padding: 13px 25px;
    vertical-align: middle;
}

.table td:nth-child(n + 2) {
    border-left: 1px solid #c0c1c2;
}

tbody tr:nth-child(n + 2) {
    border-top: 1px solid #c0c1c2;
}

.table tr:hover td {
    background-color: #c0c1c2;
    cursor: pointer;
}

tbody tr:nth-child(even) td {
    background-color: #e8e8e8;
}

/* 3. Таблиця стилями */

.table-style {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-radius: 3px;
    overflow: hidden;
}

.table-row {
    display: table-row;
}

.table-row p,
.table-row h2 {
    display: table-cell;
}

.head h2 {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    background-color: #2a3644;
    text-align: center;
    padding: 13px 0;
    border-bottom: 1px solid #2a3644;
}

.head h2:nth-child(2) {
    width: 52.6%;
    text-align: left;
    padding-left: 30px;
}

.head h2:nth-child(n + 2) {
    border-left: 1px solid #3f4852;

}

.table-row p {
    background-color: #e8e8e8;
    padding: 13px 25px;
}

.table-row p:nth-child(n + 2) {
    border-left: 1px solid #c0c1c2;
    border-top: 1px solid #c0c1c2;
}

.table-style div:nth-child(n + 2) {
    border-top: 1px solid #c0c1c2;
}

.table-style div:hover p {
    background-color: #c0c1c2;
    cursor: pointer;
}

.table-row:nth-child(even) p {
    background-color: #f2f2f2;
}

.table-style div:first-child h2:first-child {
    width: 6.25%;
}

.table-row p:first-child {
    text-align: center;
}

.table-row p:nth-child(n+3) {
    text-align: right;
}
