body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #bfbfbf;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}

.container {
    width: 960px;
    margin: 0 auto 40px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.table-statistics,
.table-characteristic,
.menu-technics {
    width: 100%;
    display: table;
}

.table-row,
.table {
    display: table-row;
}

.table-row p,
.table-row h2 {
    display: table-cell;
}

.sub-menu,
.sub-table {
    display: none;
}

/* Перше меню */
.food ul {
    background-color: #2a3644;
    border-radius: 5px;
}

.food nav > ul > li {
    position: relative;
}

.food a {
    display: inline-block;
    padding: 14px 30px;
    border-left: 1px solid #3f4852;
    border-right: 1px solid #3f4852;
}

.food a:hover {
    background-color: #3f4852;
    color: #fd8612;
}

.food nav > ul > li:first-child > a {
    border-radius: 5px 0 0 5px;
    border-left:none;
}

.food nav > ul > li:last-child > a {
    border-radius: 0 5px 5px 0;
    border-right: none;
}

.food li:hover .sub-menu {
    display: block;
}

.sub-menu {
    position: absolute;
    z-index: 1;
    width: 211px;
    background-color: #d2d4d5;
    border-left: none;
    border-right: none;
}

.sub-menu.right {
    right: 49%;
}

.sub-menu a {
    width: 100%;
    height: 100%;
    background-color: #d2d4d5;
    border-top: 1px solid #b9bdc1;
    color: #2a3644;
}

.sub-menu a:nth-child(n + 2)

.sub-menu li:hover a {
    background-color: #2a3644;
    color: #fd8612;
}

.sub-menu li:first-child a {
    border-radius: 5px 5px 0 0;
}

.sub-menu li:last-child a {
    border-radius: 0 0 5px 5px;
}

/* Друге меню */
.menu-technics {
    background-color: #2a3644;
    border-radius: 3px;
}

.menu-technics p {
    text-align: center;
    border-left: 1px solid #3f4852;
}

.menu-technics p:first-child {
    border-left: none;
}

.menu-technics a {
    display: inline-block;
    padding: 14px 0;
    width: 100%;
    height: 100%;
}

.menu-technics p:hover a {
    background-color: #3f4852;
    color: #fd8612;
}

.menu-technics p:first-child a {
    border-radius: 3px 0 0 3px;
    border-left:none;
}

.menu-technics p:last-child a {
    border-radius: 0 3px 3px 0;
}

.menu-technics p:first-child {
    width: 15%;  
}


.menu-technics p:last-child {
    width: 12.4%;  
}

/* Трете меню */
.village {
    background-color: #2a3644;
    border-radius: 3px;
}

.village-menu a {
    display: inline-block;
    padding: 15px 30px;
    border-left: 1px solid #3f4852;
}

.village-menu li:hover a {
    background-color: #3f4852;
    color: #fd8612;
}


.village-menu li:first-child a {
    padding-left: 58px;
    border-left: none;
    border-radius: 3px 0 0 3px;
}

.home a {
    position: relative;
}

.home a:before {
    content: '';
    position: absolute;
    top: 16px;
    left: 30px;
    width: 16px;
    height: 13px;
    background: url(../img/home.png);
}

.social {
    align-items: center;
}

.social a {
   display: block;
   padding-right: 30px;
   fill:#fff; 
}

.social a:hover{
    fill:#fd8300;
}

/* Перша таблиця */
.table-statistics,
.table-characteristic {
    border-collapse: collapse;
    border-radius: 3px;
    overflow: hidden;
    width: 100%;
}

.table-statistics th {
    font-size: 16px;
    color: #ffffff;
    padding: 13px 0;
    font-weight: bold;
    background-color: #2a3644;
    border-left: 1px solid #3f4852;
    border-top: 1px solid #3f4852;
}

.table-statistics th:nth-child(n + 2) th {
    border-left: none;
    border-top: none;
}

tbody td:nth-child(n + 3) {
    text-align: right;
}

tbody td:first-child {
    text-align: center;
}

.table-statistics tr:first-child th:first-child {
    width: 6.25%;
}

.table-statistics tr:first-child th:nth-child(2) {
    width: 52.6%;
    text-align: left;
    padding-left: 30px;
}

.table-statistics td {
    font-size: 16px;
    color: #2a3644;
    background-color: #f2f2f2;
    padding: 13px 25px;
    vertical-align: middle;
}

.table-statistics td:nth-child(n + 2) {
    border-left: 1px solid #c0c1c2;
}

tbody tr:nth-child(n + 2) {
    border-top: 1px solid #c0c1c2;
}

.table-statistics tr:hover td {
    background-color: #c0c1c2;
    cursor: pointer;
}

tbody tr:nth-child(even) td {
    background-color: #e8e8e8;
}

/* Друга таблиця */
.head h2 {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    background-color: #2a3644;
    text-align: center;
    padding: 13px 0;
    border-bottom: 1px solid #2a3644;
}

.head h2:nth-child(2) {
    width: 52.6%;
    text-align: left;
    padding-left: 30px;
}

.head h2:nth-child(n + 2) {
    border-left: 1px solid #3f4852;

}

.table-characteristic .table-row p {
    background-color: #e8e8e8;
    padding: 13px 25px;
}

.table-characteristic .table-row p:nth-child(n + 2) {
    border-left: 1px solid #c0c1c2;
    border-top: 1px solid #c0c1c2;
}

.table-characteristic div:nth-child(n + 2) {
    border-top: 1px solid #c0c1c2;
}

.table-characteristic div:hover p {
    background-color: #c0c1c2;
    cursor: pointer;
}

.table-row:nth-child(even) p {
    background-color: #f2f2f2;
}

.table-characteristic div:first-child h2:first-child {
    width: 6.25%;
}

.table-characteristic .table-row p:first-child {
    text-align: center;
}

.table-characteristic .table-row p:nth-child(n+3) {
    text-align: right;
}
